@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Light.ttf');
}
*, *::after, *::before
{
    box-sizing: border-box;
}
:root
{
    --background: #ffffff;
    --background-dark: #7a7a7a;

    --text-color: #606060;
    --text-color-bright: #d0d0d0;
    --text-font: 'Lato';
    --text-font-weight: 300;
    --text-font-style: normal;

}
    body
    {
        background-color: var(--background-dark);
        font-family: var(--text-font);
        font-weight: var(--text-font-weight);
        color: var(--text-color-bright);
        font-style: var(--text-font-style);

        box-sizing: border-box;
        margin: 0;
        height: 100%;
    }
@media(min-width: 920px)
{
    .login
    {
        background: url("/img/background.jpg") no-repeat;
        background-size: cover;
    }
    .login-wrapper
    {
        height: 100vh;
        width: 30%;
        position: relative;

        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        flex-wrap: nowrap;
        margin: auto;

        transition: all 0.7s ease-in-out;
    }
    .login-slider
    {
        display: flex;
        position: relative;

        height: 100%;
        width: 200%;

        align-items: center;
        align-content: center;
    }
    .login-slider-content
    {
        display:flex; position:relative; align-content: center; align-items: center;
        
    }
    .login-animation-hide
    {
        opacity: 0;
        transition: all 0.7s ease-in-out;
    }
    .login-animation
    {
        transform: translateX(-100%);
        transition: all 0.7s ease-in-out;
    }
    .login-logo
    {
        height: 100px;
        flex-basis: 100%;
	padding: 10px 0;
        overflow: hidden;
        object-fit: fill;
    }
    .login-logo img
    {
        width: 100%;
        height: 100%;
    }

    .form-wrapper
    {
        position: relative;
        display: flex;

        color: #ffffff;
        background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);

        height: 100%;
        width: 50%;
        padding: 5% 10%;
        margin: 0;

        white-space: nowrap;

        flex-wrap: wrap;

        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .form-wrapper input::placeholder
    {
        color: var(--text-color-bright);
    }
    .form-wrapper input[type="text"], input[type="password"], input[type="date"], input[type="time"]
    {
        font-family: var(--text-font);
        font-weight: var(--text-font-weight);
        font-style: var(--text-font-style);
        font-size: 17px;

        background: transparent;
        border-style: none;
        height: 50px;
        width: 50%;
        min-width: 40%;
        text-align: center;
        color: #ffffff;
    }
    .form-wrapper select
    {
        font-family: var(--text-font);
        font-weight: var(--text-font-weight);
        font-style: var(--text-font-style);
        font-size: 17px;

        background: transparent;
        border-style: none;
        height: 50px;
        width: 50%;
        min-width: 40%;
        text-align: center;
        color: #ffffff;
    }
    .form-wrapper textarea
    {
        font-family: var(--text-font);
        font-weight: var(--text-font-weight);
        font-style: var(--text-font-style);
        font-size: 17px;

        background: transparent;
        border-style: none;
        height: 100px;
        width: 50%;
        min-width: 40%;
        text-align: center;
        color: #ffffff;
    }
    .form-wrapper textarea::placeholder
    {
        color: var(--text-color-bright);
    }
    .form-wrapper input[type="number"]
    {
        font-size: 17px;

        background: transparent;
        border-style: none;
        height: 50px;
        width: 50%;
        min-width: 40%;
        text-align: center;
        color: #ffffff;
    }
    .form-wrapper button
    {
        font-family: var(--text-font);
        font-weight: var(--text-font-weight);
        font-style: var(--text-font-style);

        color: white;
        background-color: #b21f2d;
        border-style: none;
        border-radius: 25px;
        height: 40px;
        width: 50%;
        min-width: 40%;
        margin: 30px 0;
    }
    .form-wrapper *
    {
        flex-basis: 100%;
    }
    .form-input
    {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        margin: 5px 0;
        border-bottom: 1px solid rgba(255,255,255, 0.3);
        flex-basis: 100%;
    }
    .form-input label
    {
        display: flex;
        position: relative;

        flex-basis: 100%;

        justify-content: space-around;
        align-content: center;
        align-items: center;

    }
    .form-input i
    {
        flex-basis: 0;
        color: white;
    }

}
